.SocialMediaButtonsContainer{
    display: flex;
    justify-content: center;
    &__button{
        padding-left: 6px;
        &__facebook{
            width: 25px;
        }
        &__youtube{
            width: 28px;
        }
        &__twitter{
            width: 28px;
        }
    }
}