* {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    list-style-type: none;
}
.App {
    &__Header {
        display: flex;
        justify-content: center;
        background-color: rgba(171, 165, 165, 0.45);
    }
    &__NavBar {
        display: flex;
        justify-content: center;
    }
    &__MobileMenuBar{
        display: flex;
        justify-content: center;
    }
}