.SearchContainer {
    display: flex;
    border: 1px solid gray;
    &__input {
        min-height: 30px;
        width: 200px;
        background-color: white;
    }
    &__button {
        background-color: white;
    }
}