.MobileMenuList {
    padding-top: 5px;
}
@media screen and (max-width: 1023px) {
    .MobileMenuList {
        padding-left: 30px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px dotted gray;
        background-color: rgba(216, 200, 200, 0.36);
        font-size: 18px;
    }
}